:root {
  --input-width: 610px;
  --input-half-width: 295.5px;
  --form-color: #2db9ff;
}

/* Form styling */
.contact-container {
  width: 650px;
  padding-bottom: 15px;
  margin: 0px;
  background-color: rgba(45, 185, 255, 0.3);
  position: relative;
  top: 60em;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55em;
  /* box-shadow: 5px 5px 10px #c3e5f7; */
  border-radius: 2px;
}

.contact-me {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 22px;
  /* color: whitesmoke; */
  color: rgb(65, 190, 252);
  font-weight: 400;
  text-align: center;
  margin-bottom: 4px;
}

.contact-container > form {
  width: 630px;
  /* background-color: #2db9ff; */
  padding-left: 15px;
}

.contact-container > form > input,
textarea {
  border: none;
  background-color: rgba(102, 204, 255, 0.5);
  margin-top: 8px;
  color: white;
  padding: 7px 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.contact-container > form > input::placeholder,
textarea::placeholder {
  /* color: #c3e5f7; */
  color: #27b0fa;
  font-weight: 400;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.03em;
}

.contact-container > form > input:focus,
textarea:focus {
  outline: none;
}

#message {
  resize: none;
  width: var(--input-width);
}

#name,
#email {
  margin-right: 5px;
}

#name,
#company,
#email,
#phone {
  width: var(--input-half-width);
}

.submit-btn {
  border: none;
  background-color: #228bbf;
  color: whitesmoke;
  width: 308px;
  padding: 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 7px;
  border-radius: 2px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #1e7aa7;
}

.submit-btn:active {
  background-color: #1a688f;
}

.clear-btn {
  border: none;
  background-color: #df2746;
  color: whitesmoke;
  width: 304px;
  padding: 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 7px;
  margin-right: 4px;
  border-radius: 2px;
}

.clear-btn:hover {
  cursor: pointer;
  background-color: #bf223c;
}

.clear-btn:active {
  background-color: #9f1c32;
}

.error-message {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 7px;
  color: #ff2d50;
  display: none;
}

#message-error {
  margin-top: 2px;
  margin-bottom: 4px;
}

.footer-logo > img {
  position: relative;
  width: 376x;
  height: 243px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15em;
  z-index: -1;
}

#response-success {
  display: none; 
  color: green;
  position: relative;
  bottom: 10em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 15em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#response-err {
  display: none;
  color: red;
  position: relative;
  bottom: 10em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 25em;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
