:root {
  --input-width: 610px;
  --input-half-width: 298px;
  --form-color: #2db9ff;
}


/* Nav & logo styling */
.nav-items-container {
  position: absolute;
  right: 15%;
  top: 153px;
  width: fit-content;
  z-index: 16;
}

.nav-items {
  position: relative;
  color: #666666;
  font-family: Helvetica, sans-serif;
  padding: 2px;
  width: 85px;
  font-size: 14px;
  text-align: center;
  z-index: 16;
  display: inline;
  display: inline-block;
  margin: 0px;
}

.nav-items:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.nav-items > a {
  color: inherit;
  text-decoration: inherit;
}

.nav-items-focus {
  font-size: 22px;
  z-index: 10;
}

.logo {
  position: absolute;
  justify-content: center;
  top: -60px;
  z-index: 2;
}

.logo > img {
  z-index: inherit;
}


/* Form styling */
.contact-container {
  width: 650px;
  height: 315px;
  margin: 0px;
  background-color: #2db9ff;
  position: relative;
  top: 300px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #c3e5f7;
}

.contact-me {
  font-family:'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 400;
  text-align: center;
}

.contact-container > form {
  width: 630px;
  background-color: #2db9ff;
  padding-left: 15px;
}

.contact-container > form > input, textarea { 
  border: none;
  background-color: #66CCFF;
  margin-top: 5px;
  color: white;
  padding: 5px 5px;
  font-family:'Helvetica Neue', sans-serif;
  font-size: 12px;
 
}

.contact-container > form > input::placeholder, textarea::placeholder {
  color: #c3e5f7;
  font-weight: 400;
  font-size: 12px;
  font-family:'Helvetica Neue', sans-serif;
  letter-spacing: 0.03em;
}

.contact-container > form > input:focus, textarea:focus {
  outline: none;
}

#message {
  resize: none;
  width: var(--input-width);
}


#name, #company, #email, #phone {
  width: var(--input-half-width);
}

.submit-btn {
  border: none;
  background-color: #FF732D;
  color: whitesmoke;
  width: 620px;
  padding: 5px;
  font-family:'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.submit-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.submit-btn:active {
  transform: scale(0.99);

}



