.nav-bar {
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
  text-align: center;
  height: fit-content;
  width: inherit;
  background-color: #3399FF;
}

.nav-items {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 7px;
  flex-direction: row;

}

.logo { 
  position: absolute;
  left: 2px;
}

.nav-items:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5%;
}

.information {
  width: 500px;
  height: 500px;
  background-color: #CC0000;
}