
.nav-bar {
position: absolute;
top: 30px;
right: 23%;
background-color: black;
height: 97%;
width: 200px;
z-index: -1;
}

.nav-items-container {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -15%);
  width: fit-content;
  height: fit-content;
}

.nav-items {
color: #CCCCCC;
font-family: Helvetica, sans-serif;
padding: 2px;
font-size: 14px;
margin: 12px;
text-align: center;

}


.nav-items:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.logo { 
  display: flex;
  justify-content: center;
  top: -10px;
  z-index: 2;
}

.logo >img{
  z-index: inherit;
}


.main-container {
  padding: 0px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.focus-image {
  height: 450px;
  width: 450px;
  animation-name: slidein;
}

.information {
  height: 450px;
  width: 450px;
  margin-right: 900px;
  background-color: black;
  color: white;
  opacity: 0.8;
  position: absolute;
  animation-name: infoStay;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  text-align: center;
  vertical-align: middle;
}

@keyframes infoStay {
  from{ 
    margin-left: 0px;
  }

  to {
    margin-left: 900px
  }
}

.focus-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 450px;
}

.side-images {
  opacity: 0.4;
}


#img-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#img-container > img {
  margin: auto;
  height: 450px;
  width: 450px;
}


#projects {
  font-size: 22px;
}

@-webkit-keyframes slidein {
  from{ 
    padding-right: 0px;
  }

  to {
    padding-right: 900px
  }
}

@keyframes slidein {
  from{ 
    padding-right: 0px;
  }

  to {
    padding-right: 900px
  }
}