.nav-bar {
position: absolute;
top: 30px;
right: 23%;
background-color: black;
height: 97%;
width: 200px;
z-index: -1;
}

.nav-items-container {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -15%);
  width: fit-content;
  height: fit-content;
}

.nav-items {
color: #CCCCCC;
font-family: Helvetica, sans-serif;
padding: 2px;
font-size: 14px;
margin: 12px;
text-align: center;
}

.nav-items:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.logo { 
  display: flex;
  justify-content: center;
  top: -10px;
  z-index: 2;
}

.logo >img{
  z-index: inherit;
}


.main-container {
  background-color: #CCCCCC;
  padding: 0px;
}

#img-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  margin: auto;
}

#img-container > img {
  height: 450px;
  width: 450px;
}

#information {
  width: 500px;
  height: 500px;
  background-color: #CCCCCC;
}

#projects {
  font-size: 22px;
}

